{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<div class="content">
<h1>Spotify Playlist Generator</h1>
</div>
<div class="form-style-5">
<form method="post">
    <fieldset>
    <legend><span class="number">1</span> Spotify Username</legend>
    <input type="text" name="username" placeholder="Username" value="{{ request.form['username'] }}"><br><br>
    <legend><span class="number">2</span> Theme</legend>
    <input type="text" name="theme" placeholder="Theme" value="{{ request.form['theme'] }}"><br><br>
    <legend><span class="number">3</span> Number of Songs</legend>
    <input type="text" name="numSongs" placeholder="Number of Songs" value="{{ request.form['numSongs'] }}"><br><br>
    </fieldset>
    <button type="submit" class="button">
        <span class="button__text">Submit</span>
    </button>
</form>
</div>

<script>
    const theButton = document.querySelector(".button");

    theButton.addEventListener("click", () => {
    theButton.classList.add("button--loading");
});
</script>
{% endblock %}